<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-ssphv3su.us.auth0.com</string>
	<key>ClientId</key>
	<string>vuXw23Ksoji3M4Sn03Aro6Xe0tsPJht1</string>
</dict>
</plist>
